* {
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  width: 100vw;
  height: 100dvh;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;

  padding: 2.25rem;
  border-radius: 1rem;
}

.modal-open-checker {
  display: none;
}

.modal-open-checker + .overlay {
  display: none;
}

.modal-open-checker:checked + .overlay {
  display: flex;
}
